<nav class='sticky-top' id='navbar_container'>
  <div class="d-flex justify-content-between align-items-center h-100">
    <div class="h-100 d-flex align-items-center ms-3">
      <%= link_to root_path do %>
        <%= image_tag "navbar_name.png", id:"image_navbar" %>
      <% end %>
    </div>

    <div class="d-flex h-100">
      <div class="d-flex align-items-center justify-content-center me-2 text-cont-port dropdown1">
        <button type="button" class="btn text-font w-100 h-100" data-bs-toggle="dropdown" aria-expanded="false">
          <p>Portfolio +</p>
        </button>
        <ul class="dropdown-menu" id="drop-port">
          <li class="dropdown-item-modif">
            <%= link_to "/portraits", class:"text-decoration-none" do %>
              <p class="dropdown-item text-font-drop">Portraits</p>
            <% end %>
          </li>
          <li class="dropdown-item-modif">
            <%= link_to "/portfolio2", class:"text-decoration-none" do %>
              <p class="dropdown-item text-font-drop">Portfolio 2</p>
            <% end %>
          </li>
          <li class="dropdown-item-modif">
            <%= link_to "/portfolio3", class:"text-decoration-none" do %>
              <p class="dropdown-item text-font-drop">Portfolio 3</p>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center justify-content-center me-2 text-cont">
        <%= link_to "/contact", class: "text-decoration-none text-font" do %>
          <p class="text-font">Contact</p>
        <% end %>
      </div>
    </div>
  </div>
</nav>
