<nav class='sticky-top' id='navbar_container'>
  <div class="d-flex justify-content-between align-items-center h-100">
    <div class="h-100 d-flex align-items-center ms-3">
      <%= link_to root_path do %>
        <%= image_tag "navbar_name.png", id:"image_navbar" %>
      <% end %>
    </div>

    <div class="d-flex h-100">
      <div class="me-2 text-cont-port" >
        <button id="dropdown-button" class="text-font w-100 h-100">
          <p>Portfolio +</p>
        </button>
        <div id="dropdown-menu">
          <ul id="dropdown-list">
            <li class="dropdownitem">
              <%= link_to "/portraits", class:"text-decoration-none h-100 w-100" do %>
                <p class="text-font-drop">Portraits</p>
              <% end %>
            </li>
            <li class="dropdownitem">
              <%= link_to "/portfolio2", class:"text-decoration-none h-100 w-100" do %>
                <p class="text-font-drop">Portfolio 2</p>
              <% end %>
            </li>
            <li class="dropdownitem">
              <%= link_to "/portfolio3", class:"text-decoration-none h-100 w-100" do %>
                <p class="text-font-drop">Portfolio 3</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center me-2 text-cont">
        <%= link_to "/contact", class: "text-decoration-none text-font" do %>
          <p class="text-font">Contact</p>
        <% end %>
      </div>
    </div>
  </div>
</nav>
