<div class="d-flex flex-column justify-content-center">
  <h1 class="port-title">Film</h1>
  <div class="images-cont-port">
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex22.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex25.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex21.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex27.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex26.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex23.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex24.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alex26.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-8.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-9.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-10.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-11.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-12.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-13.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-14.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-16.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-17.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-18.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-19.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-20.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
  </div>
</div>
