<div id="image_container_home">
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "portraits", class:"position-relative hover-img" do %>
        <%= image_tag "Alexander Padilla-5.jpg", class:"w-100 image-cont-port"%>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Portraits</p>
      <% end %>
    </div>
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "film", class:"position-relative hover-img" do %>
        <%= image_tag "Alex22.jpg", class:"w-100 image-cont-port"%>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Film</p>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "film", class:"position-relative hover-img" do %>
        <%= image_tag "Alex21.jpg", class:"w-100 image-cont-port"%>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Film</p>
      <% end %>
    </div>
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "behindthescenes", class:"position-relative hover-img" do %>
        <%= image_tag "Alex40.jpg", class:"w-100 image-cont-port"%>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Behind the Scenes</p>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "portraits", class:"position-relative hover-img" do %>
        <%= image_tag "Alexander Padilla-11.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Portraits</p>
      <% end %>
    </div>
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "film", class:"position-relative hover-img" do %>
        <%= image_tag "Alex26.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Film</p>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "behindthescenes", class:"position-relative hover-img" do %>
        <%= image_tag "Alex45.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Behind the Scenes</p>
      <% end %>
    </div>
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "portraits", class:"position-relative hover-img" do %>
        <%= image_tag "Alexander Padilla-16.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Portraits</p>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "film", class:"position-relative hover-img" do %>
        <%= image_tag "Alex25.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Film</p>
      <% end %>
    </div>
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "behindthescenes", class:"position-relative hover-img" do %>
        <%= image_tag "Alex39.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Behind the Scenes</p>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "portraits", class:"position-relative hover-img" do %>
        <%= image_tag "Alexander Padilla-17.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Portraits</p>
      <% end %>
    </div>
    <div class="col-md-5 col-12 lrg-cont">
      <%= link_to "film", class:"position-relative hover-img" do %>
        <%= image_tag "Alex33.jpg", class:"w-100 image-cont-port" %>
        <p class="overlay-text position-absolute top-50 start-50 translate-middle text-decoration-none overlay-text">Film</p>
      <% end %>
    </div>
  </div>
</div>
