<div class="d-flex flex-column justify-content-center">
  <h1 class="port-title">Portraits</h1>
  <div class="images-cont-port">
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-2.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-3.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-1.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-15.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-4.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-5.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-6.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-7.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-8.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-9.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-10.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-12.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
    <div class="row justify-content-between w-100 gx-0">
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-16.jpg", class:"image-cont-port w-100" %>
      </div>
      <div class="lrg-cont col-md-5 col-12">
        <%= image_tag "Alexander Padilla-17.jpg", class:"image-cont-port w-100" %>
      </div>
    </div>
  </div>
</div>
